node_modules
.pnpm-store
.next
.turbo
dist
build
out
coverage
.cache
*.min.js
*.min.css
**/__generated__/**
**/generated/**
**/gen/**
pnpm-lock.yaml
package-lock.json
yarn.lock
go.sum
Cargo.lock
uv.lock

# Don't format protobuf-generated code
*.pb.go
*.pb.ts
*_pb.ts
*_pb.go
*_pb2.py
*_pb2_grpc.py

# Don't format vendored / third-party
vendor/
third_party/

# Don't format charts
**/charts/*.tgz
